/**
 * created by : heiye1991
 * created time: 2018-11-04
 */
body{
  background: #eee;
}
.box {
  width: 200px;
  height: 200px;
  border-radius: 4px;
  background: #999;
}
.box-big {
  height: 300px;
  width: 300px;
  border-radius: 5px;
  background: red;
}
.bg0, .bg1, .bg2, .bg3, .bg4{
  width: 200px;
  height: 200px;
}

.bg0{
  background: url("../images/0.jpg") no-repeat center center;
  background-size: contain;
}

/*无用css*/
.e{
  background: #eeeeee;
}