/**
 * created by : heiye1991
 * created time: 2018-11-04
 */

body{
  color: red;
}
body div{
  margin: 20px;
}
.bigBox{
  border: 2px solid #000;
  transform: rotate(45deg);
}

:root{
  --mainColor: #333;
}

p{
  color: var(--mainColor);
}